@font-face {
    font-family: 'Matemasie';
    src: url('fonts/Matemasie-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body html {
    height: auto; /* Allows page content to dictate total height */
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Matemasie', sans-serif; /* Apply Matemasie font */

}

h2 {   
font-size: 288px;
}

